
.login-form{
    border:1px solid grey;
    border-radius:5px;
    margin-left:30%;
    margin-top:5%;
    width: 40%;
}
.login-form input{
    border:none;
    border-bottom: 1px solid grey;
}
.btn-width{
    width:90%;
}
.social-btn{
    width:95%;
    background: white;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 57px;
    cursor: pointer;
}
.social-img{
    width:25px;
}
.login-form-social{
    margin-left:30%;
    width: 40%;
}
.login-tag{
    cursor: pointer;
    text-decoration: underline;
}
